<div ng-repeat="user in browseList.users track by $index">
  <div class="browse-tile">
  	<a ui-sref="#">
  		<div class="browse-img-container">
  			<img src="../static/img/woman1.jpg" class="profile-thumb" alt=""/>
  		</div>
  		<div class="browse-info-container">
  			<h3>Username</h3>
  			<p>30 &bull; Female</p>
  			<div class="browse-info-pets">
  				<span>
  					<img class="animal-icon" src="../static/img/icon_cat.svg"/><p>3</p>
  				</span>
  				<span>
  					<img class="animal-icon" src="../static/img/icon_dog.svg"/><p>1</p>
  				</span>
  			</div>
  			<button class="btn">View Profile</button>
  		</div>
  	<a>
  </div>
</div>